@charset "UTF-8";


  body{
    background: rgb(255, 242, 218);
  }
  * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
}

.login {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: rgb(239, 224, 170);
  font-size: 2em;
}
.login_sns {
  padding: 20px;
  display: flex;
}

.login_sns li {
  padding: 0px 15px;
}

.login_sns a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
  background: white;
  font-size: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
}

.login_id {
  margin-top: 20px;
  width: 80%;
}

.login_id input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_pw {
  margin-top: 20px;
  width: 80%;
}

.login_pw input {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 0px 20px;
  border: 1px solid lightgray;
  outline: none;
}

.login_etc {
  padding: 10px;
  width: 80%;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.submit {
  margin-top: 20px;
  width: 80%;
}
.submit input {
  width: 100%;
  height: 50px;
  border: 0;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(to left, rgb(234, 229, 219), rgb(245, 188, 126));
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}

body{
        /* -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
        /* background-filter: blur(5px); */ 
        margin: 0; 
        padding: 0;
        padding-top: 0;
        box-sizing: border-box;
        font-family: 'Noto Serif KR', serif;
    }
	#header {
        width: 100%; 
        height:150px; 
        line-height: 100px; 
        font-size: 30px; 
        color:rgb(0, 0, 0); 
        background: white;   
        text-align: left;
        /* border-left: 40px solid snow; */
        font-family: 'Ubuntu', sans-serif;
    }
	#lnb.fixed {
        position: fixed; 
        left: 0; 
        top: 0; 
        width: 100%;
    }
	#lnb ul {
        font-size:0; 
        line-height: 0; 
        background: rgb(240, 205, 140);
    }
	#lnb li {
        display: inline-block; 
        vertical-align: top; 
        width: 20%; 
        padding: 20px 0; 
        font-size: 12px; 
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
    }
	.container {
        /* width:100%;  */
        font-size: 30px; 
        background: whitesmoke; 
        text-align: center;
        padding-left: 1;
        position: relative;
        width: 50%;
        padding-left: 300px;
    } 
    .mySlides {
        display: none;
    }
    

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 3.0s;
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    } 
    #pText{
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font: bold;

    } 
    #footer{
        text-align: center;
        background-color: rgb(236, 236, 236);
        font-size: small;
        padding-top: 30px;
        padding-bottom: 30px;
        float: center;
    }

    #button{
        float: right;
        
    }
    #section{
        text-align: center;
        background-image : url('shop.jpg');
        padding-top: 50px;
        padding-bottom: 50px;
        float: center;
       
        
    }
    #img_bx wow fadeInUp{
        float: right;   
    }
    #article {
        font-size: 30px;
        padding-left: 13px;
        
        text-align: center;
    }
    #pic1{
        float: middle;
    }
    #pic2{
        float: middle;
    } 

    #move{
        background: linear-gradient(to left, rgb(238, 241, 178), rgb(245, 239, 232));
    }
    

    /* #pics{
        background-image : url('back4.jpg');
        background-size: contain;
    } */

    .image {
        display: block;
        width: 100%;
        height: auto;
        
        }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0%;
        background-color: #d9cfb5;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
        
        }

    .container:hover .overlay {
    width: 100%;
    left: 0;
    } 

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}


    body{
        /* -webkit-filter: blur(5px); /* Safari 6.0 - 9.0 */
        /* background-filter: blur(5px); */ 
        margin: 0; 
        padding: 0;
        padding-top: 0;
        box-sizing: border-box;
        font-family: 'Noto Serif KR', serif;
    }
	#header {
        width: 100%; 
        height:150px; 
        line-height: 100px; 
        font-size: 30px; 
        color:rgb(0, 0, 0); 
        background: white;   
        text-align: left;
        /* border-left: 40px solid snow; */
        font-family: 'Ubuntu', sans-serif;
    }
	#lnb.fixed {
        position: fixed; 
        left: 0; 
        top: 0; 
        width: 100%;
    }
	#lnb ul {
        font-size:0; 
        line-height: 0; 
        background: rgb(240, 205, 140);
    }
	#lnb li {
        display: inline-block; 
        vertical-align: top; 
        width: 20%; 
        padding: 20px 0; 
        font-size: 12px; 
        text-align: center;
        font-family: 'Source Sans Pro', sans-serif;
    }
	.container {
        /* width:100%;  */
        font-size: 30px; 
        background: whitesmoke; 
        text-align: center;
        padding-left: 1;
        position: relative;
        width: 50%;
        padding-left: 300px;
    } 
    .mySlides {
        display: none;
    }
    

    /* Slideshow container */
    .slideshow-container {
        max-width: 1000px;
        position: relative;
        margin: auto;
    }

    /* Caption text */
    .text {
        color: #f2f2f2;
        font-size: 15px;
        padding: 8px 12px;
        position: absolute;
        bottom: 8px;
        width: 100%;
        text-align: center;
    }

    /* Number text (1/3 etc) */
    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    /* The dots/bullets/indicators */
    .dot {
        height: 10px;
        width: 10px;
        margin: 0 2px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
    }

    .active {
        background-color: #717171;
    }

    /* Fading animation */
    .fade {
        animation-name: fade;
        animation-duration: 3.0s;
    }

    @keyframes fade {
        from {opacity: .4} 
        to {opacity: 1}
    } 
    #pText{
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font: bold;

    } 
    #footer{
        text-align: center;
        background-color: rgb(236, 236, 236);
        font-size: small;
        padding-top: 30px;
        padding-bottom: 30px;
        float: center;
    }

    #button{
        float: right;
        
    }
    #section{
        text-align: center;
        background-image : url('shop.jpg');
        padding-top: 50px;
        padding-bottom: 50px;
        float: center;
       
        
    }
    #img_bx wow fadeInUp{
        float: right;   
    }
    #article {
        font-size: 30px;
        padding-left: 13px;
        
        text-align: center;
    }
    #pic1{
        float: middle;
    }
    #pic2{
        float: middle;
    } 

    #move{
        background: linear-gradient(to left, rgb(238, 241, 178), rgb(245, 239, 232));
    }
    

    /* #pics{
        background-image : url('back4.jpg');
        background-size: contain;
    } */

    .image {
        display: block;
        width: 100%;
        height: auto;
        
        }

    .overlay {
        position: absolute;
        bottom: 0;
        left: 100%;
        right: 0%;
        background-color: #d9cfb5;
        overflow: hidden;
        width: 0;
        height: 100%;
        transition: .5s ease;
        
        }

    .container:hover .overlay {
    width: 100%;
    left: 0;
    } 

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  white-space: nowrap;
}

    
